---
title: Welcome to Middleman
---

<h1 class="bg-teal-100">
  Middleman is Running
</h1>

<h2>Nog maar een heading dan...</h2>

<p>Dit is een paragraph</p>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>

<%= link_to "Holy Grail test", "holy_grail" %>
